lcommon/debug
lcommon/release
lencod/debug
lencod/release
ldecod/debug
ldecod/release
x64
*.suo
*.sdf
*.opensdf
*.yuv
*.avs
*.dat
*.dec
*.exe
*.dll
*.ax
*.avs
*.avs2
*.ilk
*.user
*.exp
*.pdb
*.lib
*.obj